




@font-face {
  font-family: NetflixSansBold;
  src: url('/assets/fonts/NetflixSans-Bold.otf');
}

@font-face {
  font-family: NetflixSansRegular;
  src: url('/assets/fonts/NetflixSans-Regular.otf');
}

@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Medieval;
  src: url('/assets/fonts/MedievalSharp-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
  }
  
  
  
body {
  background-image: url('/assets/image/KoloLanta.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  background-size: 130%;
  position: relative;
  display: flex;
  flex-direction: column;
}
  
  /* CONTENU DE L'EN-TETE FIXE */
  header{
  z-index: 1;
  padding: 0 20px;
  font-family:Montserrat;
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #060505;
  max-height: 30vh;
  }
  #personnage{
    flex: 1;
   margin-top: 15%;
   color: white;
  }
  
  .SYNOPSIS {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: groove 2px;
  
  }
  
  .SYNOPSIS span {
    padding: 0 10px;
    border-right: 2px solid rgb(0, 0, 0);
  }
  
  .SYNOPSIS span:last-child {
    border-right: none;
  }
  
  #SynopsisImage img {
    width: 100px;
    height: 120px;
    transition: transform 0.3s ease;
  }
  /*Tremblement de terre*/
  @keyframes earthquake {
    0% {
      transform: translate(0, 0) rotate(0);
    }
    25% {
      transform: translate(-2px, -2px) rotate(-1deg);
    }
    50% {
      transform: translate(2px, 2px) rotate(1deg);
    }
    75% {
      transform: translate(-2px, -2px) rotate(-1deg);
    }
    100% {
      transform: translate(0, 0) rotate(0);
    }
  }
  #SynopsisImage img:hover {
    animation: earthquake 0.7s;
    transform-origin: center;
  }
  
  
  .Start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 5px 10px;
    border: 5px;
    background-color: rgba(245, 244, 244, 0.774);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }
  
  .Start img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  
  /* ESPACE PROFIL UTILISATEUR */
  #infosProfil {
    font-family: NetflixSansBold;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px 8px;
    justify-content: space-between;
  }
  
  a :hover {
    color: rgb(255, 0, 0);
  }
  #imageProfil img {
    transition: transform 0.8s ease;
  }
  
  #imageProfil img:hover {
    transform: rotate(360deg);
  }
  #imageProfil img {
    width: 7vw;
    height: 13vh;
  }


  a{
  text-decoration: none;
  color: black;
  }

    /*-------------Body page-------------*/

    #personnage{
      margin-top: 8%;
      display: flex;
      flex-direction: column;
    }
.nom{
  margin-top: 1%;
  display: flex;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
  #imgPerso{
  gap: 10px;
    background-color: rgba(26, 26, 26, 0.831);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  padding-right: 10px;
  }

  #imgPerso > label> img{
    width: 10vw;
    height:25vh;
    cursor: pointer;
    transition: transform 0.3s;
  }
  /*hover sur les images des perso*/
 img :hover{
  transform: scale(1.2);
  z-index: 1;

 }

  
input[type="text"]{
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  border:ridge;
  margin:10px;
}
/*SELECTION DES CAPACITES DES JOUEURS*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

body {
  animation: fadeIn 2s ease-in-out;
  font-family: Arial, sans-serif;
  color: #fff;
}

#capacite {
  display: flex;
  position:relative;
  background-color: rgba(26, 26, 26, 0.831);
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  animation: fadeIn 1s ease-in-out;
  gap: 50px;
}
#part1 {
  font-family: Medieval;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 500px;
   
}
#part2 {
  font-family: Medieval;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  flex-direction: column ;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 500px;
}

 input[type="checkbox"] {
  width: 22px;
  height: 22px;
  margin-bottom: 10px;
  animation: fadeIn 1s ease-in-out;
}

#capacite > label {
  display: block;
  font-size: 16px;
  animation: fadeIn 1s ease-in-out;
}

input[type="submit"] {
  background-color: #224223;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 27% 11% 25px;
  animation: fadeIn 1s ease-in-out;
}

input[type="submit"]:hover {
  animation: pulse 0.5s infinite;
  background-color: #45a049;
}
#submit{
  position: absolute;
 position: fixed;
  align-items:center;
  align-self: center;
  margin-bottom: 20px;
  padding: 2px 5px;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.atouts{
  position: absolute;
  align-items:center;
  align-self: center;
  margin-top: 20px;
  padding: 2px 10px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}