@font-face {
  font-family: NetflixSansBold;
  src: url('/assets/fonts/NetflixSans-Bold.otf');
}

@font-face {
  font-family: NetflixSansRegular;
  src: url('/assets/fonts/NetflixSans-Regular.otf');
}

@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Medieval;
  src: url('/assets/fonts/MedievalSharp-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-image: url('/assets/image/KoloLanta.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  background-size: 130%;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* CONTENU DE L'EN-TETE FIXE */
header {
  font-size: Medieval;
  z-index: 1;
  padding: 0 20px;
  font-family: Montserrat;
  position: fixed;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: #060505af;
}

#HEAD {
  flex: 1;
  margin-top: 10%;

}



.SYNOPSIS {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: groove 2px;

}

.SYNOPSIS span {
  padding: 0 10px;
  border-right: 2px solid rgb(0, 0, 0);
}

.SYNOPSIS span:last-child {
  border-right: none;
}

#SynopsisImage img {
  width: 100px;
  height: 120px;
  transition: transform 0.3s ease;
}
@keyframes earthquake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(-2px, -2px) rotate(-1deg);
  }
  50% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  75% {
    transform: translate(-2px, -2px) rotate(-1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
#SynopsisImage img:hover {
  animation: earthquake 0.7s;
  transform-origin: center;
}


.Start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5px 10px;
  border: 5px;
  background-color: rgba(245, 244, 244, 0.774);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.Start img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

/* ESPACE PROFIL UTILISATEUR */
#infosProfil {
  font-family: NetflixSansBold;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 10px 8px;
  justify-content: space-between;
}

a :hover {
  color: white;
}
#imageProfil img {
  transition: transform 0.8s ease;
}

#imageProfil img:hover {
  transform: rotate(360deg);
}
#imageProfil img {
  border-radius: 50%;
  width: 7vw;
  height: 12vh;
}

.text {
  font-family: NetflixSansBold;
  margin: 5px 0;
  display: flex;
  padding: 0 5px;
  align-items: center;
  text-align: center;
}


/* ICONES CARACTERISTIQUES DE DIFFERENTS LIEUX */

a {
  text-decoration: none;
  color: black;
}



/*le body avec la liste des perso*/
h1 {
  font-family: Medieval;
  padding: 2px;
  background-color: #000000d9;
  border-radius: 10px;
  border: unset;
}

.SomePerso {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

#personnage {
  display: flex;
  margin: 20px;
  padding: 30px 10px;
  background-color: rgba(14, 31, 12, 0.854);
  border-radius: 10px 20% 20px;
  border: 10px;
  color: white;
  border: groove;
}

#imagePerso img {
  width: 30vh;
  height: 50vh;
}

#InfosPerso {
  padding: 10px 0px;
  font-family: Medieval;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#infos {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.links div {
  display: inline-block;
}

.links a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #f2f2f2;
  border-radius: 10px 15% 20%;
}

.links a:hover {
  background-color: rgba(64, 139, 29, 0.776);
  font-family: NetflixSansBold;
}