{{define "404"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/404.css">
    <title>Vous cherchez votre chemin ?</title>

</head>
<body>
    
    <header>
			<div class="SYNOPSIS">
				<div id="SynopsisImage">
					<a href="/form"> <img src="../assets/image/Sans titre.png" alt="logo-netflix-1536"> </a>
				</div>
	
				<a href="/form">
					<div class="Start">
						<span>créer </span>
						<span>un nouveau</span>
						<span>personnage</span>
						<img src="../assets/icons/loupe.png" alt="loupe">
					</div>
				</a>
	
				<a href="/connexion">
					<div id="infosProfil">
						<div id="imageProfil">
							<img src="/assets/image/masque.png" alt="Profil_Icon" width="50px" height="50px">
						</div>
						<p style="color: red;">QUITTER</p>
					</div>
				</a>
		</header>

    <div class="container">
    <a>
        <h2 class="erreur">Désolés, vous êtes égarés.</h2>
        <h3 class="text"> Nous n'avons pas trouvé cette page. Une multitude d'aventures vous attendent sur notre page d'accueil, prêts à relever le défi ?"</h3>
        <a href="/myList" class="bouton-btn">Accueil</a>
        <h4 class="Code" style="margin-top: 50px;">Code d'erreur : GOLANTA-404</h4>
    </a>
    </div>

</body>
</html>
{{end}}