{{define "form"}}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/assets/icons/iconeNetflix.png">
	<link rel="stylesheet" type="text/css" href="/assets/styles/ajout.css">
	<title>#add-article</title>
	

</head>

<body>
	<header>
		<div class="SYNOPSIS">
			<div id="SynopsisImage">
				<a href="/myList"> <img src="../assets/image/Sans titre.png" alt="logo-golanta-1536"> </a>
			</div>
			<a href="/myList">
				<div class="Start">
					<span>VOIR </span>
					<span>TOUS LES</span>
					<span>PERSONNAGES</span>
					<img src="../assets/icons/loupe.png" alt="loupe">
				</div>
			</a>
			<form action="/search" method="get">
				<label for="search">Recherche :</label>
				<input type="text" id="search" name="search" placeholder="Nom du personnage">
				<button type="submit">Rechercher</button>
			</form>
			<a href="/connexion">
				<div id="infosProfil">
					<div id="imageProfil">
						<img src="/assets/image/masque.png" alt="Profil_Icon" width="50px" height="50px">
					</div>
					<p>QUITTER</p>
				</div>
			</a>
	</header>

	<div id="personnage">

		<div class="create" style="font-size: 20px;">
			<form action="/ajout_perso" method="POST" onsubmit="return limitCheckboxSelection();">
				<div class="nom">
					<label for="nom">Nom de votre perso:</label>
					<input type="text" id="nom" name="nom" required><br>
				</div>
				<div id="imgPerso">
					<label>
						<input type="radio" name="personnage" value="assets/image/perso/trevor.png">
						<img src="assets/image/perso/trevor.png" alt="trevor">
					</label>
					<label>
						<input type="radio" name="personnage" value="assets/image/perso/robert.png">
						<img src="assets/image/perso/robert.png" alt="robert">
					</label>
					<label>
						<input type="radio" name="personnage" value="assets/image/perso/ellie-zombie.png">
						<img src="assets/image/perso/ellie-zombie.png" alt="ellie-zombie">
					</label>
					<label>
						<input type="radio" name="personnage" value="assets/image/perso/lara_by.png">
						<img src="assets/image/perso/lara_by.png" alt="lara_by">
					</label>
					<label>
						<input type="radio" name="personnage" value="assets/image/perso/NathanUncharted.png">
						<img src="assets/image/perso/NathanUncharted.png" alt="NathanUncharted">
					</label>
					<label>
						<input type="radio" name="personnage" value="assets/image/perso/miranda.png">
						<img src="assets/image/perso/miranda.png" alt="miranda">
					</label>
					<label>
						<input type="radio" name="personnage" value="assets/image/perso/lastOfUs.png">
						<img src="assets/image/perso/lastOfUs.png" alt="Alan">
					</label>
					<label>
						<input type="radio" name="personnage" value="assets/image/perso/sabrina.png">
						<img src="assets/image/perso/sabrina.png" alt="sabrina">
					</label>

				</div>

				<div id="capacite">
					<div id="part1">
						Capacité à allumer un feu<input type="checkbox" name="capacite"
							value="Capacité à allumer un feu"> <br>
						Compétences en construction d'abris<input type="checkbox" name="capacite"
							value="Compétences en construction d'abris"><br>
						Capacité à trouver de la nourriture <input type="checkbox" name="capacite"
							value="Capacité à trouver de la nourriture"><br>
						Connaissance des plantes comestibles<input type="checkbox" name="capacite"
							value="Connaissance des plantes comestibles"><br>
						Connaissance des sources d'eau potable<input type="checkbox" name="capacite"
							value="Connaissance des sources d'eau potable"><br>
						Capacité à pêcher<input type="checkbox" name="capacite" value="Capacité à pêcher"><br>
						Endurance physique<input type="checkbox" name="capacite" value="Endurance physique"><br>
						Force physique<input type="checkbox" name="capacite" value="Force physique"><br>
						Agilité<input type="checkbox" name="capacite" value="Agilité"><br>
						Équilibre<input type="checkbox" name="capacite" value="Équilibre"><br>
						Compétences en natation<input type="checkbox" name="capacite"
							value="Compétences en natation"><br>
					</div>
					<div id="part2">
						Stratégie<input type="checkbox" name="capacite" value="Stratégie"><br>
						Travail d'équipe<input type="checkbox" name="capacite" value="Travail d'équipe"><br>
						Compétences en négociation<input type="checkbox" name="capacite"
							value="Compétences en négociation"><br>
						Compétences en persuasion<input type="checkbox" name="capacite"
							value="Compétences en persuasion"><br>
						Mentalité compétitive<input type="checkbox" name="capacite" value="Mentalité compétitive"><br>
						Gestion du stress<input type="checkbox" name="capacite" value="Gestion du stress"> <br>
						Résilience<input type="checkbox" name="capacite" value="Résilience"><br>
						Orientation<input type="checkbox" name="capacite" value="Orientation"> <br>
						Sens de l'aventure<input type="checkbox" name="capacite" value="Sens de l'aventure"><br>
					</div>
					<div id="submit">
						<input type="submit" value="Ajouter">
					</div>
				</div>
			</form>
		</div>

	</div>
</body>
<script>
	const checkboxes = document.querySelectorAll('#capacite input[type="checkbox"]');
const maxSelection = 6;

checkboxes.forEach((checkbox) => {
  checkbox.addEventListener('change', () => {
    const selectedCheckboxes = document.querySelectorAll('#capacite input[type="checkbox"]:checked');
    if (selectedCheckboxes.length > maxSelection) {
      checkbox.checked = false;
    }

    checkboxes.forEach((cb) => {
      if (selectedCheckboxes.length >= maxSelection && !cb.checked) {
        cb.disabled = true;
      } else {
        cb.disabled = false;
      }
    });
  });
});


	</script>
</html>
{{end}}